<!-- Content Header (Breadcrumb) start -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
      </div>
    </div>
  </div>
</section>
<!-- Content Header (Breadcrumb) finish -->


<!-- Content Body start -->
<div class="content-section implementation">
  <div class="card">
    <h5 class="mb-4 mt-1">Профиль поставщика</h5>
    <div class="p-fluid p-formgrid p-grid row mt-2 mb-2">
      <!-- Title start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="title" class="col-4 col-md-4 primeng-form-label mt-3">Название</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="title" type="text" class="p-input-filled p-inputtext-sm focus-none" [(ngModel)]="title"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-id-card-alt" placement="left"
                ngbTooltip="Полное юридическое название поставщика"></i>
            </span>
          </div>
        </div>
      </div>
      <!-- Title finish -->
      <!-- Website start -->
      <div class="p-field col-12 col-md-6 pl-4">
        <div class="p-formgrid p-grid row">
          <label for="website" class="col-4 col-md-4 primeng-form-label mt-3">Веб-сайт</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="webSite" type="text" class="p-input-filled p-inputtext-sm focus-none" [(ngModel)]="webSite"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-at" placement="left"
                ngbTooltip="Веб-сайт поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Website finish -->
    </div>
    <div class="p-fluid p-formgrid p-grid row mt-3">
      <!-- Address start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="address" class="col-4 col-md-4 primeng-form-label mt-3">Юридический адрес</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="address" type="text" class="p-inputtext-sm p-input-filled focus-none" [(ngModel)]="address"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-map-marked-alt" placement="left"
                ngbTooltip="Главный или юридический адрес поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Address finish -->
      <!-- Extra address start -->
      <div class="p-field col-12 col-md-6 pl-4">
        <div class="p-formgrid p-grid row">
          <label for="extra-address" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный адрес </label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="extra-address" type="text" class="p-inputtext-sm p-input-filled focus-none"
              [(ngModel)]="extraAddress" [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-map-marked-alt" placement="left"
                ngbTooltip="Второй адрес поставщика. Склад или дополнительный офис выдачи товара"></i></span>
          </div>
        </div>
      </div>
      <!-- Extra address finish -->
    </div>
    <div class="p-fluid p-formgrid p-grid row mt-3">
      <!-- Phone start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="phone" class="col-4 col-md-4 primeng-form-label mt-3">Телефон</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="phone" type="text" class="p-inputtext-sm p-input-filled focus-none" [(ngModel)]="phone"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-phone" placement="left"
                ngbTooltip="Главный или юридический номер телефона поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Phone finish -->
      <!-- Extra phone start -->
      <div class="p-field col-12 col-md-6 pl-4">
        <div class="p-formgrid p-grid row">
          <label for="extra-phone" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный телефон</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="extra-phone" type="text" class="p-inputtext-sm p-input-filled focus-none"
              [(ngModel)]="extraPhone" [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-phone" placement="left"
                ngbTooltip="Главный или юридический номер телефона поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Extra phone finish -->
    </div>
    <div class="p-fluid p-formgrid p-grid row mt-3">
      <!-- Email start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="email" class="col-4 col-md-4 primeng-form-label mt-3">Email</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="email" type="text" class="p-inputtext-sm p-input-filled focus-none" [(ngModel)]="email"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-envelope" placement="left"
                ngbTooltip="Главный или юридический адрес электронной почты поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Email finish -->
      <!-- Extra email start -->
      <div class="p-field col-12 col-md-6 pl-4">
        <div class="p-formgrid p-grid row">
          <label for="extra-email" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный email</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="extra-email" type="text" class="p-inputtext-sm p-input-filled focus-none"
              [(ngModel)]="extraEmail" [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-envelope" placement="left"
                ngbTooltip="Дополнительный адрес электронной почты поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Extra email finish -->
    </div>
    <div class="p-fluid p-formgrid p-grid row mt-3">
      <!-- Manager start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="manager" class="col-4 col-md-4 primeng-form-label mt-3">Менеджер</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="manager" type="text" class="p-inputtext-sm p-input-filled focus-none" [(ngModel)]="manager"
              [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-user-circle" placement="left"
                ngbTooltip="Главный менеджер или представитель поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Manager finish -->
      <!-- Extra manager start -->
      <div class="p-field col-12 col-md-6 pl-4">
        <div class="p-formgrid p-grid row">
          <label for="extra-manager" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный менеджер</label>
          <div class="col-8 col-md-8 p-inputgroup">
            <input id="extra-manager" type="text" class="p-inputtext-sm p-input-filled focus-none"
              [(ngModel)]="extraManager" [readOnly]="true" pInputText>
            <span class="p-inputgroup-addon p-input-filled"><i class="fas fa-user-circle" placement="left"
                ngbTooltip="Дополнительный менеджер поставщика"></i></span>
          </div>
        </div>
      </div>
      <!-- Extra manager finish -->
    </div>
    <div class="p-fluid p-formgrid p-grid row mt-3">
      <!-- Description start -->
      <div class="p-field col-12 col-md-6 pr-4">
        <div class="p-formgrid p-grid row">
          <label for="description" class="col-4 col-md-4 primeng-form-label mt-3">Описание</label>
          <div class="col-8 col-md-8">
            <textarea id="description" type="text" class="p-input-filled p-inputtext-sm focus-none"
              [(ngModel)]="description" rows="5" [readOnly]="true" pInputText>
            </textarea>
          </div>
        </div>
      </div>
      <!-- Description finish -->
      <div class="p-field col-12 col-md-6 pl-4">
        <!-- SomeInfo start -->
        <div class="p-formgrid p-grid row">
          <label for="some-info" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительная информация</label>
          <div class="col-8 col-md-8 ">
            <textarea id="some-info" type="text" class="p-inputtext-sm p-input-filled focus-none" rows="2"
              [(ngModel)]="someInfo" [readOnly]="true" pInputText>
            </textarea>
          </div>
        </div>
        <!-- SomeInfo finish -->
        <!-- Buttons start -->
        <div class="p-formgrid p-grid row">
          <!-- Activity start -->
          <label for="activity" class="col-4 col-md-4 primeng-form-label mt-4">Статус активности</label>
          <div class="col-8 col-md-8 pt-4">
            <p-inputSwitch id="activity" [ngModel]="activity" placement="top"
              ngbTooltip="Статус активности поставщика на сайте" readonly="true">
            </p-inputSwitch>
          </div>
          <!-- Activity finish -->
          <!-- Option buttons start -->
          <span id="buttons-supplier-profile">
            <a [routerLink]="['/home/update_supplier', id]" type="button" pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-raised p-button-info mr-2" placement="top" ngbTooltip="Редактировать">
            </a>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-raised p-button-danger"
              placement="top" ngbTooltip="Удалить" (click)="delete()">
            </button>
          </span>
          <!-- Option buttons finish -->
        </div>
        <!-- Buttons finish -->
      </div>
    </div>
  </div>
</div>
<!-- Content Body finish -->


<!-- Delete supplier confirmation dialog start -->
<p-confirmDialog #delSupplier [style]="{width: '450px'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Да" class="p-button-sm mr-1"
      (click)="delSupplier.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Нет" class="p-button-sm mr-0"
      (click)="delSupplier.reject()"></button>
  </p-footer>
</p-confirmDialog>
<!-- Delete supplier confirmation dialog finish -->


<!-- ToastMessage start -->
<p-toast position="top-right" preventOpenDuplicates="true" key="profile-supplier-component"></p-toast>
<!-- ToasMessage finish -->

<!-- Block document start -->
<p-blockUI [blocked]="blockedDocument">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<!-- Block document finish -->
