<!-- Content Header (Breadcrumb) start -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
      </div>
    </div>
  </div>
</section>
<!-- Content Header (Breadcrumb) finish -->


<!-- Content Body start -->
<div class="content-section implementation">
  <div class="card">
    <h5 class="mb-4 mt-1">Создание нового поставщика</h5>
    <form [formGroup]="formModel" autocomplete="off" (submit)="submitForm()">
      <div class="p-fluid p-formgrid p-grid row mt-2 mb-2">
        <!-- Title start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="title" class="col-4 col-md-4 primeng-form-label mt-3">Название *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="title" type="text" class="p-inputtext-sm" formControlName="Title" aria-describedby="title-help"
                pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-id-card-alt" placement="left"
                  ngbTooltip="Полное юридическое название поставщика"></i>
              </span>
            </div>
            <small *ngIf="formModel.get('Title').touched && formModel.get('Title').errors?.required" id="title-help"
              class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
          </div>
        </div>
        <!-- Title finish -->
        <!-- Website start -->
        <div class="p-field col-12 col-md-6 pl-4">
          <div class="p-formgrid p-grid row">
            <label for="webSite" class="col-4 col-md-4 primeng-form-label mt-3">Веб-сайт</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="webSite" type="text" class="p-inputtext-sm" formControlName="Website" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-comment-dots" placement="left"
                  ngbTooltip="Веб-сайт поставщика"></i></span>
            </div>
          </div>
        </div>
        <!-- Website finish -->
      </div>
      <div class="p-fluid p-formgrid p-grid row mt-3">
        <!-- Address start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="address" class="col-4 col-md-4 primeng-form-label mt-3">Юридический адрес *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="address" type="text" class="p-inputtext-sm" formControlName="Address"
                aria-describedby="address-help" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-map-marked-alt" placement="left"
                  ngbTooltip="Главный или юридический адрес поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('Address').touched && formModel.get('Address').errors?.required"
              id="address-help" class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
          </div>
        </div>
        <!-- Address finish -->
        <!-- Extra address start -->
        <div class="p-field col-12 col-md-6 pl-4">
          <div class="p-formgrid p-grid row">
            <label for="extra-address" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный адрес </label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="extra-address" type="text" class="p-inputtext-sm" formControlName="ExtraAddress" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-map-marked-alt" placement="left"
                  ngbTooltip="Второй адрес поставщика. Склад или дополнительный офис выдачи товара"></i></span>
            </div>
          </div>
        </div>
        <!-- Extra address finish -->
      </div>
      <div class="p-fluid p-formgrid p-grid row mt-3">
        <!-- Phone start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="phone" class="col-4 col-md-4 primeng-form-label mt-3">Телефон *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="phone" type="text" class="p-inputtext-sm" formControlName="Phone" aria-describedby="phone-help"
                pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-phone" placement="left"
                  ngbTooltip="Главный или юридический номер телефона поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('Phone').touched && formModel.get('Phone').errors?.required" id="phone-help"
              class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
            <small *ngIf="formModel.get('Phone').touched && formModel.get('Phone').errors?.pattern!" id="phone-help"
              class="p-invalid offset-sm-4 col-sm-8">Разрешены только цифры
            </small>
          </div>
        </div>
        <!-- Phone finish -->
        <!-- Extra phone start -->
        <div class="p-field col-12 col-md-6 pl-4">
          <div class="p-formgrid p-grid row">
            <label for="extra-phone" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный телефон</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="extra-phone" type="text" class="p-inputtext-sm" formControlName="ExtraPhone"
                aria-describedby="extra-phone-help" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-phone" placement="left"
                  ngbTooltip="Дополнительный контактный номер телефона поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('ExtraPhone').touched && formModel.get('ExtraPhone').errors?.pattern!"
              id="extra-phone-help" class="p-invalid offset-sm-4 col-sm-8">Разрешены только цифры
            </small>
          </div>
        </div>
        <!-- Extra phone finish -->
      </div>
      <div class="p-fluid p-formgrid p-grid row mt-3">
        <!-- Email start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="email" class="col-4 col-md-4 primeng-form-label mt-3">Email *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="email" type="text" class="p-inputtext-sm" formControlName="Email" aria-describedby="email-help"
                pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-envelope" placement="left"
                  ngbTooltip="Главный или юридический адрес электронной почты поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required" id="email-help"
              class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
            <small *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email" id="email-help"
              class="p-invalid offset-sm-4 col-sm-8">Некорректный формат email
            </small>
          </div>
        </div>
        <!-- Email finish -->
        <!-- Extra email start -->
        <div class="p-field col-12 col-md-6 pl-4">
          <div class="p-formgrid p-grid row">
            <label for="extra-email" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный email</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="extra-email" type="text" class="p-inputtext-sm" formControlName="ExtraEmail"
                aria-describedby="extra-email-help" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-envelope" placement="left"
                  ngbTooltip="Дополнительный адрес электронной почты поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('ExtraEmail').touched && formModel.get('ExtraEmail').errors?.email"
              id="extra-email-help" class="p-invalid offset-sm-4 col-sm-8">Некорректный формат email
            </small>
          </div>
        </div>
        <!-- Extra email finish -->
      </div>
      <div class="p-fluid p-formgrid p-grid row mt-3">
        <!-- Manager start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="manager" class="col-4 col-md-4 primeng-form-label mt-3">Менеджер *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="manager" type="text" class="p-inputtext-sm" formControlName="Manager"
                aria-describedby="manager-help" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-user-circle" placement="left"
                  ngbTooltip="Главный менеджер или представитель поставщика"></i></span>
            </div>
            <small *ngIf="formModel.get('Manager').touched && formModel.get('Manager').errors?.required"
              id="manager-help" class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
          </div>
        </div>
        <!-- Manager finish -->
        <!-- Extra manager start -->
        <div class="p-field col-12 col-md-6 pl-4">
          <div class="p-formgrid p-grid row">
            <label for="extra-manager" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительный менеджер</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <input id="extra-manager" type="text" class="p-inputtext-sm" formControlName="ExtraManager" pInputText>
              <span class="p-inputgroup-addon"><i class="fas fa-user-circle" placement="left"
                  ngbTooltip="Дополнительный менеджер поставщика"></i></span>
            </div>
          </div>
        </div>
        <!-- Extra manager finish -->
      </div>
      <div class="p-fluid p-formgrid p-grid row mt-3">
        <!-- Description start -->
        <div class="p-field col-12 col-md-6 pr-4">
          <div class="p-formgrid p-grid row">
            <label for="description" class="col-4 col-md-4 primeng-form-label mt-3">Описание *</label>
            <div class="col-8 col-md-8 p-inputgroup">
              <textarea id="description" type="text" class="p-inputtext-sm" formControlName="Description"
                aria-describedby="description-help" rows="7" pInputText></textarea>
            </div>
            <small *ngIf="formModel.get('Description').touched && formModel.get('Description').errors?.required"
              id="description-help" class="p-invalid offset-sm-4 col-sm-8">Обязательное поле
            </small>
          </div>
        </div>
        <!-- Description finish -->
        <div class="p-field col-12 col-md-6 pl-4">
          <!-- SomeInfo start -->
            <div class="p-formgrid p-grid row">
              <label for="some-info" class="col-4 col-md-4 primeng-form-label mt-2">Дополнительная информация</label>
              <div class="col-8 col-md-8 ">
                <textarea id="some-info" formControlName="SomeInfo" type="text" class="p-inputtext-sm" rows="2"
                  pInputText></textarea>
              </div>
            </div>
          <!-- SomeInfo finish -->
          <!-- Activity start -->
          <div class="p-formgrid p-grid row">
            <label for="activity" id="activity-supplier-add" class="col-4 col-md-4 primeng-form-label mt-2 pt-1">Статус активности</label>
            <div class="col-8 col-md-8 pt-3">
              <p-inputSwitch [ngModel]="true" id="activity" formControlName="Activity" placement="top"
                ngbTooltip="Статус активности поставщика на сайте">
              </p-inputSwitch>
            </div>
          </div>
          <!-- Activity finish -->
          <!-- Submit button start -->
          <div class="p-formgrid p-grid row mt-3">
            <button pButton pRipple type="submit" label="Сохранить" class="p-button-raised"
              [disabled]="!formModel.valid"></button>
          </div>
          <!-- Submit button finish -->
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Content Body finish -->


<!-- ToastMessage start -->
<p-toast position="top-right" preventOpenDuplicates="true" key="add-supplier-component"></p-toast>
<!-- ToasMessage finish -->

<!-- Block document start -->
<p-blockUI [blocked]="blockedDocument">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<!-- Block document finish -->
