  <!-- MAIN SECTION start -->
  <div class="login-box">

    <!-- Logo start -->
    <div class="login-logo">
      <a routerLink="/"><b>Admin</b>LTE</a>
    </div>
    <!-- Logo finish -->

    <div class="card">
      <div class="card-body login-card-body">

        <p class="login-box-msg">Вы всего лишь в одном шаге от нового пароля, создайте его прямо сейчас</p>

        <!-- Form start -->
        <form [formGroup]="formModel" autocomplete="off" (submit)="submitForm()">
          <div class="p-fluid">
            <div formGroupName="Passwords">
              <!-- Password start -->
              <div class="p-field mb-3">
                <span class="p-float-label p-input-icon-right">
                  <i class="fas fa-lock"></i>
                  <input id="password" type="password" aria-describedby="password-help" class="p-inputtext-sm"
                    formControlName="Password" pPassword pInputText>
                  <label for="password">Password</label>
                </span>
                <small *ngIf="formModel.get('Passwords.Password').touched &&
                formModel.get('Passwords.Password').errors?.required" id="password-help" class="p-invalid">Обязательное
                  поле</small>
                <small *ngIf="formModel.get('Passwords.Password').touched &&
                formModel.get('Passwords.Password').errors?.minlength" id="password-help" class="p-invalid">Минимальная
                  длинна пароля 4 символа</small>
                <small *ngIf="formModel.get('Passwords.Password').touched &&
                formModel.get('Passwords.Password').errors?.maxlength" id="password-help"
                  class="p-invalid">Максимальная длинна пароля 20 символа</small>
              </div>
              <!-- Psssword finish -->
              <!-- Confirm password start -->
              <div class="p-field mb-3">
                <span class="p-float-label p-input-icon-right">
                  <i class="fas fa-lock"></i>
                  <input id="confirm-password" type="password" aria-describedby="confirm-password-help"
                    class="p-inputtext-sm" formControlName="ConfirmPassword" pInputText>
                  <label for="confirm-password">Confirm Password</label>
                </span>
                <small *ngIf="formModel.get('Passwords.ConfirmPassword').touched &&
                formModel.get('Passwords.ConfirmPassword').errors?.required" id="confirm-password-help"
                  class="p-invalid">Обязательное поле</small>
                <small *ngIf="formModel.get('Passwords.ConfirmPassword').touched &&
                formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch" id="confirm-password-help"
                  class="p-invalid">Пароли не совпадают</small>
              </div>
              <!-- Confirm password finish -->
            </div>
            <!-- Button start -->
            <div class="p-field mt-3">
              <button pButton pRipple label="Восстановить пароль" type="submit" class="p-button-raised"
                [disabled]="!formModel.valid"></button>
            </div>
            <!-- Button finish -->
          </div>
        </form>
        <!-- Form finish -->

        <!-- NavLink start -->
        <p class="mt-3 mb-1">
          <a routerLink="/account/login" placement="right"
            ngbTooltip="Ссылка на страничку аутентификации">Аутентификация пользователя</a>
        </p>
        <!-- NavLink finish -->

      </div>
    </div>
  </div>
  <!-- MAIN SECTION finish -->


  <!-- SUPPORT SECTION start -->
  <!-- Block document start -->
  <p-blockUI [blocked]="blockedDocument">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <!-- Block document finish -->
  <!-- ToastMessage start -->
  <p-toast position="top-right" preventOpenDuplicates="true" key="recovery-password"></p-toast>
  <!-- ToasMessage finish -->
  <!-- SUPPORT SECTION finish -->
