<!-- Content Header (Page header) start -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-7">
        <h1><span class="text-muted">Категория:</span> {{title}}</h1>
      </div>
      <div class="col-sm-5">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/home">Главная</a></li>
          <li class="breadcrumb-item"><a routerLink="/home/categories">Категории</a></li>
          <li class="breadcrumb-item active">Категория</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Content Header (Page header) finish -->

<!-- Content Body start -->
<section class="content">
  <div class="card card-solid">

    <div class="card-header bg-info">
      <h3 class="card-title">Основная информация</h3>
    </div>

    <div class="card-body pb-o">

      <!-- Title url block start -->
      <div class="card bg-light elevation-1 pt-3">
        <div class="row">
          <div class="col-md-9">
            <!-- Title start -->
            <div class="form-group">
              <div class="input-group row">
                <label class="font-weight-500 col-md-2 pl-4 pt-2">
                  Название
                  <span class="ml-1 opacity-quarter" tooltipClass="tooltip-category"
                    ngbTooltip="Название категории. Например: Аудиоинтерфейсы">
                    <i class="fas fa-question-circle"></i>
                  </span>
                </label>
                <div class="input-group-prepend input-height">
                  <span class="input-group-text"><i class="fas fa-signature"></i></span>
                </div>
                <input type="text" class="form-control bg-white" value="{{title}}" disabled>
                <div class="input-group-append input-height">
                  <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
              </div>
            </div>
            <!-- Title finish -->

            <!-- Alias start -->
            <div class="form-group">
              <div class="input-group row">
                <label class="font-weight-500 col-md-2 pl-4 pt-2">
                  URL
                  <span class="ml-1 opacity-quarter" ngbTooltip="URL категории (alias)">
                    <i class="fas fa-question-circle"></i>
                  </span>
                </label>
                <div class="input-group-prepend input-height">
                  <span class="input-group-text"><i class="fas fa-search-location"></i></span>
                </div>
                <input type="text" class="form-control bg-white" value="{{alias}}" disabled>
                <div class="input-group-append input-height">
                  <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
              </div>
            </div>
            <!-- Alias finish -->
          </div>

          <!-- Buttons start -->
          <div class="col-md-3">
            <div class="row">
              <!-- Activity start -->
              <div class="input-group row w-100">
                <label class="font-weight-500 col-md-6 pl-2 ml-4 pt-2">
                  Активность
                  <span class="ml-1 opacity-quarter" tooltipClass="tooltip-category"
                    ngbTooltip="вкл/выкл категорию на сайте. Категория скрывается из меню каталога">
                    <i class="fas fa-question-circle"></i>
                  </span>
                </label>
                <ui-switch [checked]="categoryStatus" size="large" color="#007bff"
                  defaultBgColor="red" disabled>
                </ui-switch>
              </div>
              <!-- Activity finish -->
            </div>
            <!-- Extra buttons start -->
            <div class="row">
              <div id="category-btns">
                <a [routerLink]="['/home/update_category', categoryId]" class="btn btn-sm btn-outline-success mr-2"
                  placement="top" ngbTooltip="Редактировать категорию">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a [routerLink]="['/home/duplicate_category', categoryId]" class="btn btn-sm mr-2 btn-duplicate-sm"
                  placement="top" ngbTooltip="Дублировать категорию">
                </a>
                <button class="btn btn-sm mr-2 btn-open-site-sm" placement="top"
                  ngbTooltip="Открыть на сайте">
                </button>
                <button class="btn btn-sm btn-outline-danger" placement="top" (click)="openModal(categoryDeleteModal)"
                  ngbTooltip="Удалить"><i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <!-- Extra buttons finish -->
          </div>
          <!-- Buttons finish -->
        </div>
      </div>
      <!-- Title url block finish -->

      <!-- Photo, parent category block start -->
      <div class="row">
        <div class="card bg-light elevation-1 pt-3 ml-2 col-md-4 col-sm-12">
          <!-- Icon start -->
          <label class="font-weight-500 ml-2">
            Иконка
            <span class="ml-1 opacity-quarter" ngbTooltip="Иконка категории. Используется как небольшой аватар">
              <i class="fas fa-question-circle"></i>
            </span>
            <div id="photo-category" class="pb-3">
              <img *ngIf="fileIconUrl" src="{{fileIconUrl}}" alt="Icon of category" class="uploaded-icon elevation-2"
                (click)="openModal(photoModalIcon)">
            </div>
          </label>
          <!-- Icon finish -->
          <!-- Avatar start -->
          <label class="font-weight-500 ml-2">
            Аватар
            <span class="ml-1 opacity-quarter"
              ngbTooltip="Аватарка категории. Используется как основная картинка категории">
              <i class="fas fa-question-circle"></i>
            </span>
            <div id="photo-category" class="pb-3">
              <img *ngIf="fileAvatarUrl" src="{{fileAvatarUrl}}" alt="Avatar of category"
                class="uploaded-avatar elevation-2" (click)="openModal(photoModalAvatar)">
            </div>
          </label>
          <!-- Avatar finish -->
        </div>
        <div class="card bg-light elevation-1 pt-3 ml-3 col-md-7 col-sm-12" id="card-parent-block">
          <!-- Extra title start -->
          <div class="form-group">
            <label class="font-weight-500 pl-2">
              Дополнительный заголовок
              <span class="ml-1 opacity-quarter" ngbTooltip="Заголовок Н1 отличающийся от названия категории">
                <i class="fas fa-question-circle"></i>
              </span>
            </label>
            <div class="input-group row pl-3 pr-2">
              <div class="input-group-prepend input-height">
                <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
              </div>
              <input type="text" class="form-control bg-white" value="{{extraTitle}}" disabled>
              <div class="input-group-append input-height">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
              </div>
            </div>
          </div>
          <!-- Extra title finish -->
          <!-- Parent category start -->
          <div class="form-group">
            <label class="font-weight-500 pl-2">
              Родительская категория
              <span class="ml-1 opacity-quarter" tooltipClass="tooltip-category"
                ngbTooltip="Родительская категория, внутри которой будет находиться данная категория">
                <i class="fas fa-question-circle"></i>
              </span>
            </label>
            <div class="input-group row pl-3 pr-2">
              <div class="input-group-prepend input-height">
                <span class="input-group-text"><i class="far fa-address-card"></i></span>
              </div>
              <input type="text" class="form-control bg-white" value="{{parentCategoryTitle}}" disabled>
              <div class="input-group-append input-height">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
              </div>
            </div>
          </div>
          <!-- Parent category finish -->
        </div>
      </div>
      <!-- Photo, parent category block finish -->

      <!-- Seo start -->
      <div class="card bg-light elevation-1 pt-3">
        <div class="row ">
          <div class="col-md-6 ml-2">
            <!-- SeoTitle start -->
            <div class="form-group pb-2">
              <label class="font-weight-500 pl-2">
                Meta-title ({{seoTitle?.length || 0}})
                <span class="ml-1 opacity-quarter" tooltipClass="tooltip-category"
                  ngbTooltip="Заголовок страницы в браузере, который отображается в выдаче поисковых систем">
                  <i class="fas fa-question-circle"></i>
                </span>
              </label>
              <div class="input-group row pl-3">
                <div class="input-group-prepend input-height">
                  <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                </div>
                <input type="text" class="form-control bg-white" value="{{seoTitle}}" disabled>
                <div class="input-group-append input-height">
                  <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
              </div>
            </div>
            <!-- Seotitle finish -->
            <!-- SeoKeywords start -->
            <div class="form-group">
              <label class="font-weight-500 pl-2">
                Meta-keywords
                <span class="ml-1 opacity-quarter"
                  ngbTooltip="Список ключевых слов. Также, используются в поиске по сайту">
                  <i class="fas fa-question-circle"></i>
                </span>
              </label>
              <div class="input-group row pl-3">
                <textarea class="form-control bg-white" rows="4" value="{{seoKeywords}}" disabled></textarea>
              </div>
            </div>
            <!-- SeoKeywords finish -->
          </div>
          <!-- SeoDescription start -->
          <div class="col-md-6" id="seo-desc">
            <div class="form-group">
              <label class="font-weight-500 pl-2">
                Meta-description ({{seoDescription?.length || 0}})
                <span class="ml-1 opacity-quarter" tooltipClass="tooltip-category-seo-desc"
                  ngbTooltip="Правильный description должен содержать ключевые слова, под которые вы намерены продвигать страницу. Самые частотные запросы должны быть расположены в начале описания. Не используйте в мета-теге более 3-4 ключевых фраз. Одно и то же слово не стоит повторять более 5-7 раз.">
                  <i class="fas fa-question-circle"></i>
                </span>
              </label>
              <div class="input-group row pl-3">
                <textarea class="form-control bg-white" rows="8" value="{{seoDescription}}" disabled></textarea>
              </div>
            </div>
          </div>
          <!-- SeoDescription finish -->
        </div>
      </div>
      <!-- Seo finish -->

      <!-- Description start -->
      <div class="card bg-light elevation-1 pt-3">
        <div class="ml-3 mr-3">
          <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill"
                    href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home"
                    aria-selected="true">Краткое описание</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                    href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile"
                    aria-selected="false">Полное описание</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel"
                  aria-labelledby="custom-tabs-three-home-tab">
                  <angular-editor id="editor1" [(ngModel)]="smallDescription" [config]="editorConfig">
                  </angular-editor>
                </div>
                <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
                  aria-labelledby="custom-tabs-three-profile-tab">
                  <angular-editor id="editor2" [(ngModel)]="longDescription" [config]="editorConfig">
                  </angular-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Description finish -->
    </div>
  </div>
</section>
<!-- Content Body finish -->


<!-- Modal photoIcon start -->
<ng-template #photoModalIcon let-modal>
  <div class="modal-body mx-auto">
    <img src="{{fileIconUrl}}" class="elevation-2" class="photo-icon-modal">
  </div>
  <div class="modal-footer mx-auto">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Закрыть</button>
  </div>
</ng-template>
<!-- Modal photoIcon finish -->


<!-- Modal photoAvatar start -->
<ng-template #photoModalAvatar let-modal>
  <div class="modal-body mx-auto">
    <img src="{{fileAvatarUrl}}" class="elevation-2" class="photo-avatar-modal">
  </div>
  <div class="modal-footer mx-auto">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Закрыть</button>
  </div>
</ng-template>
<!-- Modal photoAvatar finish -->

<!-- Modal Delete start -->
<ng-template #categoryDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Удалить категорию</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="mb-0">Вы действительно хотите удалить категорию?</p>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <button type="button" class="btn btn-danger" (click)="deleteCategory()">Удалить</button>
    </div>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Закрыть</button>
  </div>
</ng-template>
<!-- Modal Delete finish -->
