.inactive_role {
  background-color: rgb(253, 246, 252) !important;
  /* opacity: .5; */
}

img.table-avatar {
  border-radius: 50%;
  display: inline-block;
  width: 2.5rem;
  margin: .2em;
}

.m-half {
  margin: .2em;
}

.table-roles {
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}

#table-role-row td {
  padding-top: .3em !important;
  padding-bottom: .3em !important;
}

.inactive {
  border: 3px solid red;
  background-color: rgb(253, 246, 252) !important;
  opacity: .4;
}

.role-font-size {
  font-size: .95em !important;
}

#img-user-overflow {
  overflow: hidden;
  width: 3.4rem;
  height: 3.4rem;
  margin-left: 3px;
}

#img-user-overflow:hover {
  cursor: pointer;
}

#img-user-overflow:hover:focus {
    border: none !important;
    outline: none !important;
}

#status-switch-multi {
  margin-top: .65rem !important;
}

#activity-role-add {
  position: relative;
  bottom: -4px;
}

#activity-role {
  text-align: center!important;
}

.spinner-img-wrapper {
  display: inline-block;
  position: relative;
  min-width: 3.4rem;
}

#role-avatar-spiner {
  position: absolute;
  top: .5rem;
  left: .4rem;
}