<!-- Content Header (Breadcrumb) start -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
      </div>
    </div>
  </div>
</section>
<!-- Content Header (Breadcrumb) finish -->


<!-- Content Body start -->
<div class="content-section implementation">
  <div class="card">
    <!-- Buttons, Searchbar start -->
    <p-toolbar>
      <ng-template pTemplate="left">
        <button pButton pRipple icon="pi pi-refresh" class="p-button-raised mr-2" placement="top"
          ngbTooltip="Сброс сортировок" (click)="dtSupplier.clear()" (click)="searchInputClear()">
        </button>
        <a type="button" pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-button-raised mr-2"
          routerLink="/home/add_supplier" placement="top" ngbTooltip="Создать поставщика">
        </a>
        <button pButton pRipple [label]="deleteLabel" icon="pi pi-trash" class="p-button-danger p-button-raised mr-2"
          (click)="deleteSelected()" placement="top" ngbTooltip="Удалить выбранные"
          [disabled]="!selectedSuppliers || !selectedSuppliers.length">
        </button>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="p-d-flex p-ai-center p-jc-between">
          <form [formGroup]="searchFilterFormModel">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dtSupplier.filterGlobal($event.target.value, 'contains')"
                placeholder="Search ..." formControlName="query" />
              <button pButton pRipple type="text" icon="pi pi-times" alt="clear"
                class="p-button-rounded p-button-sm p-button-danger p-button-text clear-search-btn"
                (click)="dtSupplier.filterGlobal(null, '')" (click)="searchInputClear()" [disabled]="!query">
              </button>
            </span>
          </form>
        </div>
      </ng-template>
    </p-toolbar>
    <!-- Buttons, Searchbar finish -->
    <!-- Table start -->
    <p-table #dtSupplier [value]="suppliers" [rows]="5" [paginator]="true" [globalFilterFields]="['title']"
      [(selection)]="selectedSuppliers" [rowHover]="true" dataKey="id" [lazy]="true" [totalRecords]="totalRecords"
      [loading]="lazyLoading" currentPageReportTemplate="Показаны с {first} по {last} из {totalRecords} записей"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [(first)]="start" styleClass="p-datatable-striped"
      (onLazyLoad)="getAll($event)">
      <!-- Main title start -->
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Управление поставщиками</h5>
        </div>
      </ng-template>
      <!-- Main title finish -->
      <!-- Header start -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4%">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 24%" pSortableColumn="title">
            Название <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th style="width: 26%" pSortableColumn="address">
            Адрес <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th style="width: 15%" pSortableColumn="phone">
            Телефон <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th style="width: 13%" pSortableColumn="activity_status">
            Активность <p-sortIcon field="activity_status"></p-sortIcon>
          </th>
          <th style="width: 11%"></th>
        </tr>
      </ng-template>
      <!-- Header finish -->
      <!-- Body start -->
      <ng-template pTemplate="body" let-supplier>
        <tr [ngClass]="{inactive: supplier.activity_status == 0}">
          <td>
            <p-tableCheckbox [value]="supplier"></p-tableCheckbox>
          </td>
          <td (click)="redirectToProfile(supplier.id)" class="hover">{{supplier.title}}<br>
            <small>Создано: {{supplier.created | date: 'dd-MM-yyyy hh:mm:ss'}}</small>
          </td>
          <td (click)="redirectToProfile(supplier.id)" class="hover">{{supplier.address}}</td>
          <td (click)="redirectToProfile(supplier.id)" class="hover">{{supplier.phone}}</td>
          <td id="activity-col">
            <p-inputSwitch [ngModel]="getActivityStatus(supplier.activity_status)"
              (onChange)="changeActivityStatus(supplier.id, $event)" placement="top"
              ngbTooltip="Изменить статус активности" class="pr-3">
            </p-inputSwitch>
          </td>
          <td>
            <a [routerLink]="['/home/update_supplier', supplier.id]" pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-raised p-button-info mr-2" placement="top" ngbTooltip="Редактировать">
            </a>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-raised p-button-danger"
              (click)="delete(supplier)" placement="top" ngbTooltip="Удалить">
            </button>
          </td>
        </tr>
      </ng-template>
      <!-- Body finish -->
      <!-- Empty message start -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">По вашему запросу ничего не найдено.</td>
        </tr>
      </ng-template>
      <!-- Empty message finish -->
      <!-- Total section start -->
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Всего поставщиков {{totalRecords}}
        </div>
      </ng-template>
      <!-- Total section finish -->
    </p-table>
    <!-- Table finish -->
  </div>
</div>
<!-- Content Body finish -->



<!-- Delete supplier confirmation dialog start -->
<p-confirmDialog #delSupplier [style]="{width: '450px'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Да" class="p-button-sm mr-1"
      (click)="delSupplier.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Нет" class="p-button-sm mr-0"
      (click)="delSupplier.reject()"></button>
  </p-footer>
</p-confirmDialog>
<!-- Delete supplier confirmation dialog finish -->

<!-- ToastMessage start -->
<p-toast position="top-right" preventOpenDuplicates="true" key="supplier-component"></p-toast>
<!-- ToasMessage finish -->

<!-- Block document start -->
<p-blockUI [blocked]="blockedDocument">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<!-- Block document finish -->
