#bottom-line {
    border-bottom: solid grey 1px;
    opacity: .5;
    margin-top: .5em;
}

#icon-sidebar-min {
    width: 2.5em !important;
    top: -.28em!important;
    position: inherit;
}

#spinner-avatar {
    position: absolute;
}

#spinner-img-wrapper {
    width: 2.6rem !important;
}